@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: "Geist Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-geist-mono: "Geist Mono", SFMono-Regular, Consolas, "Liberation Mono",
    Menlo, Courier, monospace;
  --button-background: #ccc;
  --logo-color: rgb(0, 171, 250);
  --text-color: #a0aec0;
  --text-dashboard: #2d3748;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.dark {
  --background: #171717;
  --foreground: #ffffff;
  --button-background: rgb(0, 171, 250);
  --logo-color: rgb(0, 171, 250);
  --text-color: #ffffffd0;
  --text-dashboard: #ffffff;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
